<article class="post">
  <div class="title">
      <a href="/post/{{id}}">{{post_title}}</a>
      <br>
      <strong>By {{user.username}} on {{format_date created_at}}</strong>
  </div>
  <div class="post-text">
      <p>{{post_text}}</p>
  </div>
</article>